<mat-form-field>
    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  
    <mat-checkbox>Checked</mat-checkbox>

    <mat-slide-toggle
    class="example-margin"
    [color]="color"
    [checked]="checked"
    [disabled]="disabled">
  Slide me!
</mat-slide-toggle>

<h4>Basic mat-select</h4>
<mat-form-field>
  <mat-select placeholder="Favorite food">
    <mat-option>
      <!-- {{food.viewValue}} -->
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </mat-option>
  </mat-select>
</mat-form-field>

<button mat-button>Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
<mat-list>
    <mat-list-item>Item 1</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Item 2</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Item 3</mat-list-item>
  </mat-list>
  <div class="container">
    <div class="row">
      <div class="col-md-6">      <p>hello</p>
      </div>

      </div>
    </div>

  
  